/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;

}
h2, h3 {
  color: #1fabe5;


}
#site_header {
  background-color: orange;
  padding: 20px;

}
#site_header #logo img {
  margin-bottom: 20px;

}
.main_navigation a{
color: white;
text-decoration: none;
border: 1px white solid;
padding: 5px 20px;
border-radius: 10px;

}
#page_content {
  margin: 20px;

}
#page_content a {
  color: #1fabe5;

}
#page_content li {
  font-weight: bold;


}
section {
  border-bottom: 2px #dddddd solid;
  padding-bottom: 40px;
}
thead {
  background-color: #1fabe5;
  color: white;
}

table {
  border-collapse: collapse;

}
table img {
  width: 100%;
}
td {
  border: 1px #1fabe5 solid;
  padding: 10px;
}
.img-cell {
  width: 60px;
}
form {
  background-color: #dddddd;
  border-radius: 5px;
  padding: 30px;

}
form .name {
  background-color: #ff8523;
  padding: 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
form .name input {
  height: 50px;
  width: 200px;
  

}
